header{
	
	
/* 	background-color: #34495e; */


/* 	trick： if the height and the line-height are the same the content will be in the middle of the header!!!!!!!!!!!!!!!! */
	height:  112px; 
	line-height: 112px;
	color: #fff;
	
	position: fixed;
	width: 100%;
	z-index: 100;
	
}

header a.logo{
	
	float: left;
	
}

header nav{
	
	
	float: right;
	font-weight: bold;
	
}

header nav ul li{
	
/* 	create the gaps between the nav items li */
	padding-left: 30px;
}

header nav ul li a{
	
	color: #fff;
/* 	setup a delay effect for hover */
	transition: all 0.3s ease-in;
	
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
}

header nav ul li a:hover{
	
	color: #e74c3c;
	
/* 	this is to stop the hover underline */
	text-decoration: none;
}

/* header css ends here */



/* bootstrap responsive header starts */

.navbar-inverse .navbar-nav>li>a{
	
	color: #fff;
/* 	setup a delay effect for hover */
	transition: all 0.3s ease-in;
	
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
}


.navbar-inverse .navbar-nav>li>a:hover{
	
	color: #e74c3c;
	
/* 	this is to stop the hover underline */
	text-decoration: none;
}

/* bootstrap responsive header ends */
/* !!!!!!!!!!!start of slider; */


.slider,.slider ul.slider-carousel, .slider ul.slider-carousel li{
	
	/* 	trick： make the slider slider ul and slider ul li the same height and width, the content will be in the center!!! */

	height: 600px;
	
	width: 100%;
	
	text-align: center;
	color: #fff;
}

/* to creeat some space between the h1 and the p */

.slider ul.slider-carousel li h1{
	
	margin-bottom: 50px;
	margin-top: 150px;
	color: #fff;
}

/* to creeat some space between the buttoms and the p */


.slider ul.slider-carousel li p{
	
	margin-bottom: 30px;
}

.slider ul.slider-carousel li a{
	
	padding: 10px 50px;
	margin-right: 30px;
	color: #fff;
	font-weight: bold;
	transition: all 0.3s ease-in;
	
	-o-transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
}

.slider ul.slider-carousel li a:last-child{
	
	margin-right: 0px;
}

.img1{
	
	background: url(img/slider/slider1);
	background-size: 100% 100%;
}

/* buttoms hover event */


.slider ul li a.cta1:hover{
	
	background-color: #ff695a;
	
/* 	make the the boder radius when hover */
	border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.slider ul li a.cta2:hover{
	
	background-color: #3f9cfa;
	border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.slider ul.sliderpager li{
	
	padding: 0 3px;
	height: 28px;
	line-height: 28px;
}

.slider ul.sliderpager li a{
	
	color: #2d82d8;
}
.slider ul.sliderpager li.selected a{
	
	color: #e74c3c;
}

/* slider ends here !!!!!! */


/* services starts here !!!!!!!!*/

.services{
	
	text-align: center;
}

.services .services-content i{
	
	font-size: 32px;
	color: #555;
}
/* services ends here!!!!!! */

.services-header, .portfolio-header, .team-header,.testimonials-header,.blog-header,.contact-header{
	
	margin-bottom: 42px;
	text-align: center;
}




/* portfolio starts here !!!!!!*/

.portfolio{
	
/* 	background-color: #e9a02e; */
	color: #fff;
	
	background:url('img/portfolio/portfolio-bg');
	
/* 	to make it fixed when scrolling */
	background-size:100% 100%;
	background-attachment: fixed;
}

.portfolio .inner-content{
	position: relative;
	width: 265px;
	height: 225px;
}

.portfolio .inner-content img{
	width: 100%;
	height: 100%;
}
/* 	make the text over lay the img */

.portfolio .inner-content .overlay-content{

	position: absolute;
	top:100%;
	left: 0px;
	text-align: center;
	background: rgba(0,0,0,0.8);
	width: 100%;
	height: 100%;
	
	
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
}

.portfolio-carousel li{
	
	margin-right: 10px;
	margin-left: 10px;
	
}

.portfolio .inner-content .overlay-content h3, .portfolio .inner-content .overlay-content p{
	
	color: white;
	
}

.portfolio .inner-content .overlay-content h3{
	
	padding-top: 20%;
	color: #e74c3c;
}

.portfolio .inner-content:hover .overlay-content{
	
	top: 0px;
}


.portfolio .inner-content .overlay-content p a{
	
	color: #2d82d8;
	font-weight: bold;
	
	
}


/* navigation of the portfolio  */

.portfolio .portfolio-nav{
	margin-top: 30px;
	text-align: center;
}

.portfolio .portfolio-nav li{
	
	cursor: pointer;
	margin-right: 10px;
	font-size: 14px;
	width: 28px;
	height: 28px;
	background-color: #333;
	line-height: 24px;
	color: #fff;
	font-weight: bold;
	
	/* 	make the the boder radius */
	border-radius: 50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

.portfolio .portfolio-nav li:last-child{
	margin-right: 0px;
}

.portfolio .portfolio-nav li:hover{
	
	background-color: #e74c3c;
}

/* portfolio ends here!!!!!!!! */









/* team style starts */

.team{
	
/* 	background-color: #e9a02e; */
/* 	color: #fff; */
	
/* 	background:url('img/portfolio/portfolio-bg'); */
	
/* 	to make it fixed when scrolling */
	background-size:100% 100%;
	background-attachment: fixed;
}

.team .inner-content{
	position: relative;
	width: 265px;
	height: 225px;
}

.team .inner-content img{
	width: 100%;
	height: 100%;
}
/* 	make the text over lay the img */

.team .inner-content .overlay-content{

	position: absolute;
	top:100%;
	left: 0px;
	text-align: center;
	background: rgba(0,0,0,0.8);
	width: 100%;
	height: 100%;
	
	
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
}

.team-carousel li{
	
	margin-right: 10px;
	margin-left: 10px;
	
}

.team .inner-content:hover .overlay-content{
	
	top: 0px;
}


.team .inner-content .overlay-content p a{
	
	color: #2d82d8;
	font-weight: bold;
	
	
}


/* navigation of the team  */

.team .team-nav{
	margin-top: 30px;
	text-align: center;
}

.team .team-nav li{
	
	cursor: pointer;
	margin-right: 10px;
	font-size: 14px;
	width: 28px;
	height: 28px;
	background-color: #333;
	line-height: 24px;
	color: #fff;
	font-weight: bold;
	
	/* 	make the the boder radius */
	border-radius: 50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

.team .team-nav li:last-child{
	margin-right: 0px;
}

.team .team-nav li:hover{
	
	background-color: #e74c3c;
}


.team-carousel .inner-content p.name{
	
	padding-top: 15%;
}

.team-carousel .inner-content p.description{
	
	padding: 0 15px;
}

ul.member-social-links li{
	font-size: 14px;
	width: 28px;
	height: 28px;
	line-height: 28px;
	}

ul.member-social-links li i{
	width: 28px;
	height: 28px;
	line-height: 28px;
	
	border-radius: 50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}


ul.member-social-links li i.fa-facebook
{
	background-color: #3b5998;
}

ul.member-social-links li i.fa-twitter
{
	background-color: #00aced;
}

ul.member-social-links li i.fa-linkedin
{
	background-color: #007bb6;
}

ul.member-social-links li a{
	
	color: #fff;
}
/* teamstyle ends */

/* testimonials start */


.testimonials{
	
/* 	background-color: #0c1622; */
	background: url("img/testi-bg");
	background-attachment: fixed;
	background-size: 100% 100%;
	
	color: #fff;
}

.testimonials-carousel li{
	text-align: center;
	margin: 0 200px;
	
}

blockquote{
	
	border: none;
	line-height: 1.5em;
	position: relative;
	font-size: 14px;
	color: #fff;
	display: inline-block;
	padding: 0;
}



/* The huge quote before and after the text */

blockquote:before{
	
	position:absolute;
	content: "\f10d";
	top: -5px;
	left: -20px;
	font-family: fontAwesome;
}

blockquote:after{
	
	position:absolute;
	content: "\f10e";
	bottom: -5px;
	right: -20px;
	font-family: fontAwesome;
}

.testimonials-carousel li img{
	
	width: 150px;
	height:  150px;
	border-radius: 50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	margin-bottom: 30px;
}

.testimonials-carousel li p.name{
	
	color: #e74c3c;
	font-weight: bold;
	
}

.testimonials-carousel li p.position{
	
	margin-bottom: 30px;
	font-weight: bold;
	
}

.testipager li{
	margin-right: 5px;
}

.testipager li:last-child{
	margin-right: 0px;
}

.testipager li a{
	color: #fff;
}

.testipager li.selected a{
	color: #e74c3c;
}
/* testimonials end */


/* blog style starts */
.blog b.date{
	
	color: #333;
	
}

.blog h3 a{
	
	/* 	setup a delay effect for hover */
	transition: all 0.3s ease-in;
	
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
}
.blog h3 a:hover{
	
	color: #e74c3c;
}


/* blog style ends */


/* contact style starts */

.contact{
	
/* 	background: #39787c; */
	background: url('img/contact-bg');
	background-attachment: fixed;
	background-size: 100% 100%;
	color: #fff;
}

form.contact-form {
	
	width: 40%;
	margin: 0 auto;
	text-align: center;
	
}

input:not([type=submit]),textarea
{
	width: 100%;
	margin-bottom: 40px;
	color: #777;
	padding-left: 20px;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.2) inset;
	border: none;
}

input:not([type=submit])
{
	height: 40px;
	line-height: 40px;
}

textarea
{
	padding-top: 10px;
}
#submit{
	padding: 10px 30px;
	color: #fff;
	background-color: #e74c3c;
	border: none;
	font-weight: bold;
	
}
/* contact style ends */

/*footer style starts here*/
footer{

	padding-top: 56px;
}


footer h1{

	padding-bottom: 28px;

}

footer p i{

	color: #2d82d8;

}

footer p span{

	padding-left:15px;
	font-weight: bold;
}

footer p.about{

	margin-bottom: 20px;
}


form.update-form input:not([type=submit]),textarea
{
	width: 100%;
	margin-bottom: 40px;
	color: #777;
	padding-left: 20px;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.2) inset;
	border: none;
}

#take-email{

	margin-bottom: 20px;
}

#submit-button{

	background-color: #e74c3c;
	color:#fff;
	border: none;
	padding: 5px 30px;
	height:40px;
	line-height: 30px;
	font-weight: bold;
}
.footer-social-links{

	padding:0 10px;
	font-size: 28px;
}


.footer-social-links li a i.fa-facebook{

	color:#3b5999 ;
}

.footer-social-links li a i.fa-linkedin{
	color:#0077B5 ;

}

.footer-social-links li a i.fa-dribbble{
	color: #ea4c89
;

}

.footer-social-links li a i.fa-twitter{
	color:#55acee ;

}

.footer-social-links li a i.fa-youtube{
	color:#cd201f ;

}
.copyright{
	text-align: center;
	color: #fff;
	background-color: #333;
	height:28px;
	line-height: 28px;
	margin-top: 56px;
}

p.copyright{

	margin:0 0 0 0;
}
/*footer style ends here*/
